In [3]:
# imports 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as stat
import os
plt.style.use('fivethirtyeight')

In [4]:
df = pd.read_csv("/Users/daniellancet/Desktop/Edu_Org_Eco/Data/cleaned.csv")

In [5]:

# Scholarships, PTGS, K-12, Charter, Fundraising
scholarship_ntee = ["B82", "B825", "B824"]
PTGs_ntee = ["B94"]
P_12_ntee = ["B2", "B20", "B21", "B24", "B25", "B28", "B29"] # merged with charters? 
fundraising_ntee = ["B11", "B112", "B113", "B114", "B115", "B116", "B117", "B118", "B119", "B12", "B122", "B123", "B124","B125", "B126", "B127", "B128", "B129"]
fundraising_main_ntee = ["B12", "B122",  "B123",  "B124",  "B125",  "B126", "B127"]
k_12 = ["B20", "B2"]
B29_charters = ["B29"]

In [20]:
def count_range(low, high, series):
    count = np.sum((series > low) & (series <= high))
    return count

def percents(df, main_category,  column, intervals, year = 2019):  
    pd.options.display.float_format = '{:.2f}'.format
    if main_category != 'all':
        df = df[df["Main_Category"] == main_category]
    else:
        df = df

    f_series = df[column].dropna()
    total = len(f_series)

    counts = []
    for interval in intervals: 
        low, high = interval
        count = count_range(low, high, f_series)
        counts.append(count)
    counts = np.array(counts)
    
    assert(np.sum(counts) == total)
   
    percents_lst = np.round((counts/np.sum(counts))*100, 2)
    return percents_lst

intervals = [(-np.inf, 25000), (25000, 100000), (100000, 500000), (500000, 1000000), (1000000, np.inf)]
intervals_fundraising = [(-np.inf, 0), (0, 10000), (10000, 25000), (25000, 100000), (100000, 500000), (500000, 1000000), (1000000, np.inf)]
intervals_PTG = [
    (-np.inf, 0),
    (0, 10000),
    (10000, 25000),
    (25000, 50000),
    (50000, 100000),
    (100000, 150000),
    (150000, np.inf)
]



#percents(df, category, "totrev", intervals)

In [21]:
#categories = ["Parent Teacher Groups", "Scholarship", "Fundraising", "Fraternities", "Education Services"]
categories = ['all']

In [26]:
def finances_descriptions(df, main_categories, column): 
    for category in main_categories:
        if category == 'all':
            temp_df = df
            print(temp_df[column].describe())
            percents_array = percents(df, category, column, intervals)
            percents_array = np.round(percents_array, 2)
            print(percents_array)
            return

        temp_df = df[df["Main_Category"] == category]
        print(temp_df[column].describe())
        percents_array = percents(df, category, column, intervals)
        percents_array = np.round(percents_array, 2)
        print(percents_array)
        print(sum(percents_array))
    

finances_descriptions(df, categories, 'total_assets')

count        216569.00
mean        7196475.19
std       302552037.64
min               0.00
25%               0.00
50%               0.00
75%           56697.00
max     60274269943.00
Name: total_assets, dtype: float64
[70.49  8.3   9.12  2.99  9.1 ]

,ein2,ntee_irs,ntee_nccs,nteev2,nccs_level_1,nccs_level_2,nccs_level_3,totrev,total_income,total_assets,...,ruleyear,org_year_first,org_year_last,org_year_count,org_pers_ico,org_name_sec,name,org_fiscal_period,ein,Main_Category
0,EIN-01-0211497,B42,B42,UNI-B42-RG,501C3 CHARITY,O,ED,403263000.00,936826000.00,2249032000.00,...,1944.00,1989,2024,36,% ALICIA GARDINER CONTROLLER,NaN,PRESIDENT & TRUSTEES OF COLBY COLLEGE,4,10211497,Undergraduate Colleges
1,EIN-01-0211502,B70,B70,EDU-B70-RG,501C3 CHARITY,O,ED,234880.00,234880.00,2595743.00,...,1998.00,1998,2024,27,NaN,NaN,EASTPORT PUBLIC LIBRARY ASSOCIATION,6,10211502,Libraries
2,EIN-01-0211509,B25,B25,EDU-B25-RG,501C3 CHARITY,O,ED,16397006.00,17393654.00,43894371.00,...,1942.00,1989,2024,36,NaN,NaN,GOULD ACADEMY,10,10211509,High Schools
3,EIN-01-0211536,B25,B25,EDU-B25-RG,501C3 CHARITY,O,ED,13713582.00,15223312.00,20621030.00,...,1952.00,1989,2024,36,NaN,NaN,NORTH YARMOUTH ACADEMY,4,10211536,High Schools
4,EIN-01-0211565,B20,B20,EDU-B20-RG,501C3 CHARITY,O,ED,25459358.00,32103793.00,63324930.00,...,1943.00,1989,2024,36,NaN,NaN,WAYNFLETE SCHOOL,2,10211565,K-12 Schools
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233892,EIN-94-3453217,B29,B29,EDU-B29-RG,501C3 CHARITY,O,ED,32665847.00,32665847.00,39698303.00,...,2009.00,2009,2024,16,% NEW YORK CITY CHARTER SCHOOL CENT,NaN,CONEY ISLAND PREPARATORY PUBLIC CHARTER SCHOOL,3,943453217,Charter Schools
233893,EIN-99-0655966,B80,B80,EDU-B80-RG,501C3 CHARITY,O,ED,NaN,NaN,NaN,...,2024.00,2024,2024,1,NaN,NaN,QUEENS CHEDER MRM INC,1,990655966,Student Services
233894,EIN-99-0833703,B28,B28,EDU-B28-RG,501C3 CHARITY,O,ED,NaN,NaN,NaN,...,2024.00,2024,2024,1,NaN,NaN,AIE N A INC,2,990833703,Special Education
233895,EIN-99-0834339,B90,B90,EDU-B90-RG,501C3 CHARITY,O,ED,NaN,NaN,NaN,...,2024.00,2024,2024,1,NaN,NaN,CENTER FOR BLACK LEARNING INC,2,990834339,Education Services
233896,EIN-99-1058259,B90,B90,EDU-B90-RG,501C3 CHARITY,O,ED,NaN,NaN,NaN,...,2024.00,2024,2024,1,% DROR BIKEL,NaN,JEWISH EMPOWERMENT TRAINING INC,2,991058259,Education Services